<section class="login-component">
    <div style="display: flex; justify-content: center; padding: 1% 0;">
        <a [routerLink]="['/']" ><img src="assets/main-logo.png" style="height: 100px;" /></a>
    </div>

    <div class="login-section" >
        <img class="login-logo" src="assets/login.svg" />
        <div class="login-form" [formGroup]="fbFormGroup">
            <small id="emailHelp" class="form-text text-danger" *ngIf="checkCredentials">Invalid Email or Password! Please try again.</small>

            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="emailID" placeholder="Email*">
                <small id="emailHelp" class="form-text text-danger" *ngIf="fbFormGroup.get('emailID').invalid  && fbFormGroup.get('emailID').touched" >Invalid Email! Please try again</small>
                <small id="emailHelp" class="form-text text-danger" *ngIf="checkEmail">Email already exists! Please try logging in or try a different Email.</small>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password*">
                <small  class="form-text text-danger" *ngIf="fbFormGroup.get('password').invalid  && fbFormGroup.get('password').touched" >Password should be between 8 to 15 characters!</small>
                <a (click)="navigateTo('forgot')" style="font-size: 13px; ">Forgot Password?</a>
            </div>
            <br>
            
            <div class="form-group form-check d-flex">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1" style="font-size: 13px; margin-top: 2px;">Keep me Signed In</label>
              </div>
              <button type="submit" class="btn btn-block"  [disabled]="!fbFormGroup.valid" (click)='loginProcessHere()'> 
                Login</button>
            <br>
            <a (click)="navigateTo('register')" style="text-align: center;">Not Already a User? Register Now</a>
        </div>
    </div>
</section>