<section class="error-page">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000b76" fill-opacity="1" d="M0,288L48,266.7C96,245,192,203,288,160C384,117,480,75,576,64C672,53,768,75,864,112C960,149,1056,203,1152,197.3C1248,192,1344,128,1392,96L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
        
        <div class="error-content" style="margin-top: -2em;">
         <div class ="error-img">
            <img src = "assets/err.png">
            
         </div>
          <div class="error-message">
            <h1><b>Oops! Page not found!</b></h1> <br>
            <p>We are very sorry for inconvenience. It looks like you're trying to access a page that has been deleted or never been existed.</p>
            <br><br>
            <button type="button" class="btn" (click)="navigateTo('')">BACK TO HOME</button>
               
          </div>
                  
       </div> 
</section>